  * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            
        }
        .body{
          background-color: #f5f5f5;
        }
         .form-container{
             display: flex;
            justify-content: center;
            margin-top: 300px;
        }

         .btn-container{
            display: flex;
            justify-content: center;
            
        }
          .main-btn {
            margin-top: 120px;
            background-color: #2d6a4f;
            color: white;
            border: none;
            padding: 1rem 2rem;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            
          }
       
/* FORMULAIRE */

        .contact-form {
          width: 75%;
          max-width: 650px;
          background-color: white;
          border: solid;
          border-color: #FDC8B6;
          padding: 2rem;
          border-radius: 12px;
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
          padding: 3rem 4rem;
          transform: translate(0%, -20%);
        }

        .contact-form label {
          display: block;
          font-weight: 600;
          color: #000000;
          margin-top: 1.5rem;
        }

        .contact-form input,
        .contact-form textarea {
          width: 100%;
          margin-top: 0.5rem;
          padding: 1rem;
          border: 1px solid  #000000;
          border-radius: 8px;
          font-size: 1rem;
          color: #000000;
          transition: border-color 0.3s, box-shadow 0.3s;
        }

        .contact-form input:focus,
        .contact-form textarea:focus {
          border-color: #2d5f3f;
          box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
          outline: none;
        }

/*PASSWORD */

        .toggle-password {
            position: absolute;
            right: 80px;
            margin-top: 30px;
            transform: translateY(-50%);
            background: none;
            border: none;
            cursor: pointer;
            color: #666;
            font-size: 18px;
            padding: 5px;
            transition: color 0.3s;
        }
           .toggle-password:hover {
            color: #6ec585;
        }
       
        p{
          margin-top: 10px;
        }

        

/*CHECKBOX*/    

        .checkbox-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;   
        }

        .checkbox-container input {
            width: 20px;
            height: 20px;
            cursor: pointer;
            border: 2px solid #d1d1d1;
            border-radius: 4px;
            margin-top: 20px;
        }

        .checkbox-container label {
            font-size: 16px;
            color: #000000;
            cursor: pointer;
            user-select: none;
        }

        .checkbox-container label a {
            color: #000000;
            text-decoration: underline;
        }

/*INSCRIPTION */

        .submit-btn {
          margin-left: 9rem;
          margin-top: 3rem;
          width: 40%;
          padding: 0.7rem;
          background-color:#2d5f3f;
          color: white;
          border: none;
          border-radius: 10px;
          font-size: 1.5rem;
          cursor: pointer;
          transition: background-color 0.3s;
          
        }
        .submit-btn:hover{
          background-color:#6ec585;
          transform: translateY(-2px);
          box-shadow: 0 4px 8px rgba(45, 95, 63, 0.3);}

/* MESSAGE ERROR */
         
        .error {
            padding: 15px;
            margin: 80px auto;
            max-width: 600px;
            border-radius: 5px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 40px;
            background-color: #fee;
            color: #c00;
            border: 1px solid #c00;
        }


        @media (max-width: 480px) {

        .submit-btn {
          width: 100%;
           margin-left: 0rem;
          }
      .container{
        margin-top: 40px;
      }


    }
        

   
        
       



