
          * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: italiana, sans-serif;
            background-color: #f5f5f5;
            max-width: 1440px;
            
            
        }
        a{
            text-decoration: none;
            color: #fff;}

        /* FOOTER*/

        .footer-container {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;

            background-color: #2d5f3f;
            min-height: 50px;
            margin-top: 50px;
            padding: 0 40px;
        }

        .footer-link:first-child {
            justify-self: start;
            margin-left: 20px;
        }

        
        .footer-time {
            justify-self: center;
            color: #6ec585;
            text-align: center;
            font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
        }

        
        .footer-link:last-child {
            justify-self: end;
            margin-right: 5px;
        }

        .footer-link a {
            color: #fff;
            font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
        }
        .footer-link:hover{
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(45, 95, 63, 0.3);

        }
/*RESPONSIVE*/

            @media (max-width : 480px){
        
          
            .footer-container{
                flex-direction: column;
                text-align: center;
                gap: 10px;
                padding: 10px;
            }
        

     
             
    }