  * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
            body {
            background-color: #f5f5f5;
        }
        .btn-container{
            display: flex;
            justify-content: center;
            
        }
          .main-btn {
            margin-top: 80px;
            background-color: #2d6a4f;
            color: white;
            border: none;
            padding: 1rem 2rem;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            
          }

        .employee-list {
            background-color: white;
            border: 3px solid #ff9966;
            border-radius: 12px;
            padding: 30px;
            max-width: 600px;
            margin: 40px auto;
            margin-bottom: 20px;
            
        }

        .employee-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0;
            border-bottom: 1px solid #e0e0e0;
        }

        .employee-item:last-child {
            border-bottom: none;
        }

        .employee-name {
            font-size: 16px;
            color: #000000;
        }

        .btn-delete {
            background-color: #ea2b34;
            border: none;
            border-radius: 6px;
            padding: 10px;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s ease;
    }

        .btn-delete i {
            color: #fff;
            font-size: 22px;
        }

        .btn-delete:hover {
            background-color: #b2050e;
            transform: scale(1.05);
        }
        .add-container{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        .btn-add{
             margin-top: 40px;
            background-color: #49cb52;
            color: white;
            border: none;
            padding: 1rem 2rem;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            
          }
        
        .btn-add:hover{
            background-color: #6ec585;
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(45, 95, 63, 0.3);
        }
        