 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
           
            background-color: #f5f5f5;
        }

/* MENUCARD*/

        #cardsContainer {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 30px;
            max-width: 1200px;
            margin: 120px auto;
            justify-items: center;   
        }

        .card {
            width: 300px;
            background: white;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            position: relative;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .card-header {
            padding: 20px 20px 10px;
            text-align: center;
        }

        .badge-category {
            display: inline-block;
            background: #ff9a9e;
            color: #8b4049;
            padding: 8px 25px;
            border-radius: 20px;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .dish-title {
            font-size: 18px;
            color: #000000;
            margin: 10px 0;
            font-weight: normal;
        }

        .persons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            margin: 8px 0;
            font-size: 13px;
            color: #666;
        }


        .image-container {
            width: 100%;
            height: 200px;
            position: relative;
        }

        .dish-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .price-badge {
            position: absolute;
            bottom: -15px;
            right: 20px;
            background:#6ec585;
            color: #2d5016;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 16px;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
        }
        
        .details-badge {
            position: absolute;
            top:90px;
            left: 15px;
            background:#9ef78c;
            
            width: 30px;
            height: 30px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 8px;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }

        .fa-solid.fa-circle-plus{
            font-size: 15px;
            color:#2d5016;
        }
        

        .card-footer {
            padding: 25px 20px 20px;
            text-align: center;
        }

        .badge-diet {
            display: inline-block;
            background-color: #ffd966;
            color: #8b6914;
            padding: 8px 20px;
            border-radius: 20px;
            font-size: 16px;
            font-weight: bold;
        }

