
          * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: italiana, sans-serif;
            background-color: #f5f5f5;    
        }
        
        a{
            text-decoration: none;
            color: #fff;}
            
        header{
            position: top;
            padding-left: 90px;
            background-color: #ffffff;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

        .navbar{
            width: 100%;
            max-width: 1200px;
            height: 80px;
            margin-left: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
     
        .user-icon{
            color: #2d5f3f;
            font-size: 2.6rem;
            cursor: pointer;
            border-radius: 50px;  
        }
        .user-icon:hover{
            color: #6ec585;
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(45, 95, 63, 0.3);
        }

        .header-btn{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            display: flex;
            justify-content: center;
            gap:3rem;
            background-color: #2d5f3f;
            color: #fff;
            border-radius: 30px;
            
            outline: none;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            width: 120px;
            padding:10px 20px
        }
        .header-btn:hover{
            background-color: #6ec585;
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(45, 95, 63, 0.3);
        }
       
/* BURGER MENU BTN*/

        .burger {
            color: #2d5f3f;
            font-size: 2rem;
            cursor: pointer;
            border-radius: 5px;   
            display: none;  
}
        .burger:hover{
            color: #6ec585;
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(45, 95, 63, 0.3);
        }
  

        .burger span {
            width: 100%;
            height: 4px;
            background: #1E3A2F;
            border-radius: 2px;
        }

/*BURGER MENU*/

        .side-menu {
            position: fixed;
            top: 0;
            left: -200px; /* caché */
            width: 200px;
            height: 300px;
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            transition: left 0.35s ease;
            z-index: 1000;
            border-bottom-right-radius: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
            background-color:#2d5f3f;        
}

        .side-menu a {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            position: relative;
            display: flex;
            justify-content: flex-start;
            left: -30px;
            align-items: center;
            gap:3rem;
            background-color:#2d5f3f;
            color: #fff;
            border-radius: 30px;
            outline: none;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            width: 120px;
            padding:8px 20px;            
        }
        .side-menu a:hover{
            color:#6ec585;
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(45, 95, 63, 0.3);}

        .side-menu a i {
            position: absolute;
            right:-30px;
            }

        .side-menu.open {
            left: 0;
}

/* USER MENU*/

        .user-menu {
            position: fixed;
            top: 0;
            right: -300px; /* caché */
            width: 250px;
            height: 500px;
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
            transition: right 0.35s ease;
            z-index: 1000;
            border-bottom-left-radius: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
            background-color:#2d5f3f           
}

        .user-menu a {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            right:-30px;
            
            color: #fff;
            border-radius: 30px;
            outline: none;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            width: 150px;
            padding:8px 20px;  
            display: flex; 
            position: relative;
            justify-content: flex-start;    
        }
        .user-menu a:hover{
            color:#6ec585;
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(45, 95, 63, 0.3);}

        .user-menu a i {
            position: absolute;
            left:-30px;
            margin-top: 5px;
            }

        .user-menu.open {
            right: 0;
}

/*OVERLAYS*/

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.45);
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.35s ease;
            z-index: 900;
        }
        .overlay.visible {
            opacity: 1;
            pointer-events: all;
        }

 /*RESPONSIVE*/

            @media (max-width : 480px){

            header{
            position: top;
            padding-right: 80px;
            background-color: #ffffff;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            }
        
            .navbar{
                margin: 0;
            }
            .header-btn{
                display: none;
            }
          
            .user-icon{
                display: block;
           }

            .burger{
                display: block;
            }        
    }
    


        
        



