  * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            
        }
        .body{
          background-color: #f5f5f5;
        }

        .container{
            display: flex;
            justify-content: center;
        }

        .form-container{
             display: flex;
            justify-content: center;
        }

        h1{
          text-align: center;
          margin-bottom: 20px;
        }

        .contact-form {
          width: 75%;
          max-width: 650px;
          background-color: white;
          border: solid;
          border-color: #FDC8B6;
          padding: 2rem;
          border-radius: 12px;
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
          padding: 3rem 4rem;
          transform: translate(0%, -20%);
        }

        .contact-form label {
          display: block;
          font-weight: 600;
          color: #000000;
          margin-top: 1.5rem;
        }

        .contact-form input,
        .contact-form textarea {
          width: 100%;
          margin-top: 0.5rem;
          padding: 1rem;
          border: 1px solid  #000000;
          border-radius: 8px;
          font-size: 1rem;
          color: #000000;
          transition: border-color 0.3s, box-shadow 0.3s;
        }

        .contact-form input:focus,
        .contact-form textarea:focus {
          border-color: #2d5f3f;
          box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
          outline: none;
        }

     
/*INSCRIPTION BTN*/

        .submit-btn {
          margin-left: 9rem;
          margin-top: 3rem;
          width: 40%;
          padding: 0.7rem;
          background-color:#2d5f3f;
          color: white;
          border: none;
          border-radius: 10px;
          font-size: 1.5rem;
          cursor: pointer;
          transition: background-color 0.3s;
          
        }
        .submit-btn:hover{
          background-color:#6ec585;
          transform: translateY(-2px);
          box-shadow: 0 4px 8px rgba(45, 95, 63, 0.3);}

            @media (max-width: 480px) {

          .submit-btn {
          width: 100%;
           margin-left: 0rem;
          }}



